*{
    font-family: 'Fredoka One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
}

body{
    background-color: #fef6e4;
    height: 100vh;

}

.nav{

    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ul {

    list-style:none;

}

li{
    padding-left:15px;
    color: #f582ae;
}

.logo {

    width: 200px;
    height: 35px;
    background-image: none;

}

li:hover{

    opacity: 0.5;

}

/* Section */

.section{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 50vh;
    
}

.section_descripcion{
    margin: auto;
    grid-column: 2/3;
    grid-row: 1;

}

.section_imagen{
    grid-column: 3/4;
    grid-row: 1;
  background-image: url(empresa.png);
  background-size: cover;
  background-position: center;
  border-radius: 10%;
 

}

button{
    background-color: #f582ae;
}